---
import SmoothScroll from "../components/SmoothScroll.astro";
import Image from "astro/components/Image.astro";
import herogaharu from "../assets/alami4.webp";
---

<section
  class="w-full h-screen bg-gradient-to-r from-[#e0c9b1] to-[#f6edd9] text-[#4a3728] py-20 grid place-items-center">
  <div
    class="container mx-auto px-6 md:px-12 grid grid-cols-1 md:grid-cols-2 items-center gap-12">
    <!-- Konten Kiri -->
    <div class="text-center md:text-left">
      <h1 class="text-4xl md:text-5xl font-bold leading-tight mb-6">
        Bienvenue Chez <span class="text-[#b68d4c]">Al Fayz Oud</span>
      </h1>
      <p class="text-lg md:text-xl leading-relaxed mb-6">
        Découvrez l'élégance et l'arôme captivant du bois de gaharu. Nos
        produits sont 100% naturels, parfaits pour les cérémonies, les parfums,
        et les moments de méditation. Offrez-vous un luxe intemporel dès
        aujourd'hui.
      </p>
      <div class="flex flex-wrap justify-center md:justify-start space-x-4">
        <!-- Tombol 1 -->
        <a
          href="#gaharu"
          class="px-6 py-3 bg-[#75521B] text-white font-semibold rounded-lg shadow-md hover:bg-[#9a7a3e] transition">
          Voir plus
        </a>
        <!-- Tombol 2 -->
        <a
          href="https://wa.me/212716164271?text=Je%20suis%20intéressé%20par%20vos%20produits%20de%20gaharu."
          target="_blank"
          rel="noopener noreferrer"
          class="px-6 py-3 bg-white text-[#4a3728] border border-[#b68d4c] font-semibold rounded-lg hover:bg-[#f6edd9] transition">
          Contacter Nous
        </a>
      </div>
    </div>

    <!-- Gambar Kanan -->
    <div class="flex justify-center items-center">
      <Image
        src={herogaharu}
        alt="Gaharu Premium"
        class="w-full max-w-lg lg:max-w-xl rounded-lg shadow-lg"
        format="webp"
        width={800}
        height={600}
        loading="eager"
      />
    </div>
  </div>
</section>
<SmoothScroll />
